
/* ----------FOR LAPTOP LARGE--------------- */
@media (max-width: 2560px)  {
      .testimonials_container {
        height: 70vh;
        width: 100%;
    padding: auto 10px;
    position: relative;
    background-color: var(--bg);

}
.testimonials_container h3{
    color: var(--navy);
    font-size: 30px;
    text-transform: uppercase;
    

    

}
.next-btn,
.back-btn {
    margin-top: 50px;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    padding: 20px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--navy);
    z-index: 10;
}

.back-btn {
    right: auto;
    left:  1%;
}

.slider {
    overflow: hidden;
}
.gallery-image img{
height: 50vh;
width: 30vw;
}
.slider ul {
    display: flex;
    width:95%;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 100px 30px;

}

.slider ul li {
    list-style: none;
    width: 200%;
    padding:10px 5px;
}





}

/* ----------FOR LAPTOP SMALL--------------- */
@media (max-width:1025px)  {       .testimonials_container {
        height: 70vh;
        width: 100%;
    padding: auto 10px;
    position: relative;
    background-color: var(--bg);

}
.testimonials_container h3{
    color: var(--navy);
    font-size: 30px;
    text-transform: uppercase;
    

    

}
.next-btn,
.back-btn {
    margin-top: 50px;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    padding: 20px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--navy);
    z-index: 10;
}

.back-btn {
    right: auto;
    left:  1%;
}

.slider {
    overflow: hidden;
}
.gallery-image img{
height: 50vh;
width: 30vw;
}
.slider ul {
    display: flex;
    width:95%;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 100px 30px;

}

.slider ul li {
    list-style: none;
    width: 200%;
    padding:10px 5px;
}

 }

/* ----------FOR TABLET--------------- */
@media screen and (max-width: 768px) and (min-width:501px){
         .testimonials_container {
        height: 70vh;
        width: 100%;
    padding: auto 10px;
    position: relative;
    background-color: var(--bg);

}
.testimonials_container h3{
    color: var(--navy);
    font-size: 30px;
    text-transform: uppercase;
    

    

}
.next-btn,
.back-btn {
    margin-top: 50px;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    padding: 20px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--navy);
    z-index: 10;
}

.back-btn {
    right: auto;
    left:  1%;
}

.slider {
    overflow: hidden;
}
.gallery-image img{
height: 50vh;
width: 30vw;
}
.slider ul {
    display: flex;
    width:95%;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 100px 30px;

}

.slider ul li {
    list-style: none;
    width: 200%;
    padding:10px 5px;
}

 
}

/* ----------FOR MOBILE--------------- */
@media (max-width: 500px) {
        .testimonials_container {
        height: 70vh;
        width: 100%;
    padding: auto 10px;
    position: relative;
    background-color: var(--bg);

}
.testimonials_container h3{
    color: var(--navy);
    font-size: 30px;
    text-transform: uppercase;
    

    

}
.next-btn,
.back-btn {
    margin-top: 50px;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    padding: 20px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--navy);
    z-index: 10;
}

.back-btn {
    right: auto;
    left:  1%;
}

.slider {
    overflow: hidden;
}
.gallery-image img{
height: 50vh;
width: 50vw;
}
.slider ul {
    display: flex;
    width:110%;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 100px 30px;

}

.slider ul li {
    list-style: none;
    width: 200%;
    padding:10px 5px;
}



}
